{% extends 'homes/dashboard.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %}
<main class="app-content bg-warning">
    <div class="app-title " style="background-color: gold;">
        <div class="col-lg-4">
            <div class="card-body">
                <canvas id="myPieChart" width="130%" height="60"></canvas>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block js  %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Pie Chart Example
var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["Blue", "Red", "Yellow", "Green"],
    datasets: [{
      data: [100,20,30,70],
      backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745'],
    }],
  },
});

</script>


{% endblock %}





