{% extends 'homes/dashboard.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %}
<main class="app-content bg-warning">
    <div class="app-title " style="background-color: gold;">
        
        <div class="row">
            <div class="col-6">
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>    
        </div>    
    </div>
</main>
{% endblock %}
{% block js  %}



<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "ИШ ХАККИ"
	},
	data: [{
		type: "pie",
		startAngle: 150,
		yValueFormatString: "##0.0\" сум\"",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: '{{pay.plastik}}', label: "Кулга тегиши"},
			{y: '{{pay.soliq}}', label: "Солик"},
			{y: '{{pay.ushlanma}}', label: "Ушланмалар"},
			{y: '{{pay.qoshimcha}}', label: "Кушимча"},
			
		]
	}]
});
chart.render();

}
 
</script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

{% endblock %}





