<div class="container">
    <form class="ui form" method="post">
      {% for message in messages %}
      <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">
          {{message}}
        </div>
       </div>
      {% endfor %}
      {% csrf_token %}
      <h4 class="ui dividing header">Бригада малумотномаси</h4>
      <div class="two fields">
        <div class="required field">
          <label>САНА</label>
          <div class="ui icon input">
            {{form.date}}
            <i class="user icon"></i>
          </div>
        </div>
        <div class="required field">
          <label>Бригада №</label>
          <div class="ui icon input">
            {{form.brigada}}
            
          </div>
        </div>
      </div>
      <h4 class="ui dividing header">Юк хакида маълумот</h4>
      <div class="three fields">
        <div class="required field">
          <label>Юк хати №</label>
          <div class="ui icon input">
            {{form.yuk_num}}
          </div>
        </div>
        <div class="required field">
          <label>Транспорт маркаси</label>
          <div class="ui icon input">
            {{form.tr_marka}}
          </div>
        </div>
        <div class="required field">
          <label>Транспорт раками</label>
          <div class="ui icon input">
            {{form.tr_num}}
          </div>
        </div>
        <div class="required field">
          <label>Юк ташувчи Ф.И.О</label>
          <div class="ui icon input">
            {{form.tr_name}}
          </div>
        </div>
       
      </div>
      <h4 class="ui dividing header">Омбор хакида маълумот</h4>
      <div class="ui form">
        <div class="field">
          <label>Омбор</label>
          {{form.ombor}}
        </div>
      </div>
        
      <button type="submit" class="btn btn-primary btn-md btn-block mt-5">Ю Б О Р И Ш . . </button>
    </form>
    
  
  
  
  
  
  </div>
 