<div class="ui link cards ">
    {% for i in kadr %}
    <div class="card">
      <div class="image">
        <img src="{{request.user.profile.pic.url}}">
      </div>
      <div class="content">
        <div class="meta pb-2">
          <p>{{i.bolim}}</p> 
        </div>
        <div class="header">{{i.fizlitsa.f_name}} {{i.fizlitsa.l_name}} {{i.fizlitsa.ful_name}}</div>
        
        <div class="description">
          <p>{{i.lavozim}}</p>
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
        {{i.fizlitsa.birth|date:'d.m.Y'}}
        </span>
        <span>
          <i class="user icon"></i>
        </span>
      </div>
    </div>
    {% endfor %}
</div>