{% extends "home/home.html" %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}
<div class="row" >
    <div class="col-sm-12">
        <div class="ui raised segment mb-1 center aligned inverted  text-primary " >
            <p style="font-weight: 900; font-size: 17px;">Андижон вилояти Баликчи туманидаги "AGROMAX" мчж  кластерининг 2023 йил пахта хосили йигими тугрисида кунлик</p>
            <div class="row">
                <!----------------------------------------------------------------------->
                <div class="col-sm-12 col-md-12 col-xl-12 text-center">
                    <h4>МАЪЛУМОТ</h4>
                </div>
                <!----------------------------------------------------------------------->
                <div class="col-sm-12 col-md-6 col-xl-6 text-left" style="text-align: left;">
                    <div class="ui compact menu inverted">
                        <div class="ui simple dropdown item">
                        ХИСОБОТ ШАКЛИ
                        <i class="dropdown icon"></i>
                        <div class="menu ">
                            {% include 'nav/nav_g.html' %}
                          </div>
                        </div>
                    </div>
                </div>
                <!----------------------------------------------------------------------->
                <div class="col-sm-12 col-md-6 col-xl-6 text-right pb-2" style="text-align: right;">
                    <form method="get" >
                        <div class="ui input focus mini ">
                            <input id="date" type="date" name="date" value="{{date}}">
                        
                        <div class="ui icon button teal mini">
                            <i class="refresh icon"></i>
                            <input type="submit" value="">
                          </div>
                      </div>
                    </form>
                </div>
                <!----------------------------------------------------------------------->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {% include 'Galla/omborG-inc.html' %}
                </div>
                <!----------------------------------------------------------------------->
            </div>
        </div>
    </div>
</div> 
    
{% endblock %}

{% block main %}
{% endblock %}

{% block js %}
<script src="{% static 'js/sumsgalla.js' %}"></script>
{% endblock %}
