<div class="dropdown mb-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Хисобот шакл
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button"><a href="{% url 'galla' %}">Бригада буйича</a> </button>
      <button class="dropdown-item" type="button"><a href="{% url 'ombor' %}"> Омборлар буйча</a></button>
      <button class="dropdown-item" type="button"><a href="{% url 'reestr' %}">Рестр</a></button>
    </div>
  </div>