{% extends 'homes/dashboard.html' %}
{% block content %}
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-th-list pr-2"></i>ГАЛЛА-2023
      <p>ГАЛЛА-2023 МАЪЛУМОТЛАРИ</p>
    </div>
    <div class="block">
      <form action="" method="get" class="pt-2 block">
        {% csrf_token %}
        <input type="date" name="date" id="date" value="{{date}}" >
        <button type="submit" class="btn btn-primary btn-block btn-sm mt-3">Обновит</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-sm table-hover table-dark">
              
              {% include 'homes/gtable.html' %}



            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}


