{% extends 'homes/dashboard.html' %}
{% block content %}
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-th-list pr-2"></i>ГАЛЛА-2023</h1>
      <p>ГАЛЛА-2023 МАЪЛУМОТЛАРИ</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">РЕЕСТР</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-sm table-hover table-dark">
              
              {% include 'homes/gtable.html' %}



            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}


