{% extends 'homes/dashboard.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}
{% block content %}


<main class="app-content bg-warning">
  <div class="app-title " style="background-color: gold;">
    {% include 'homes/settings-inc.html' %}
  </div>
</main>




{% endblock %}
{% block js %}


{% endblock %}






























    <!--



    <div class="pic-holder">
      <img id="profilePic" class="pic" src="{{request.user.profile.pic.url}}">
      {{form.pic}}
      <label for="newProfilePhoto" class="upload-file-block">
        <div class="text-center">
          <div class="mb-2">
            <i class="fa fa-camera fa-2x"></i>
          </div>
          <div class="text-uppercase">
            Расмни узгартириш
          </div>
        </div>
      </label>
    </div>


 <div class="avatar-upload">
              <div class="avatar-edit">
                  <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                  <div id="imagePreview" style="background-image: url('{{ request.user.profile.pic.url }}')">
                    
                  </div>
              </div>
          </div>
      











    -->