{% extends 'homes/dashboard.html' %}
{% load static %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static  'css/profile.css' %}">
    {% endblock %}
    {% block content %}
    <main class="app-content bg-warning">
      <div class="app-title " style="background-color: gold;">
        <div class="container">
          <h1>Profil Image Upload 
          </h1>
          <div class="avatar-upload">
              <div class="avatar-edit">
                 {{form.pic}}
                  <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                  <div id="imagePreview">
                    <img src="{{request.user.profile.pic.url}}" alt="">
                  </div>
              </div>
          </div>
      </div>
      </div>
    </main>   
	
  
  
  
  
  
  
  
  
  
    {% endblock %}
    {% block js %}
   
    {% endblock %}
    <!--



    <div class="pic-holder">
      <img id="profilePic" class="pic" src="{{request.user.profile.pic.url}}">
      {{form.pic}}
      <label for="newProfilePhoto" class="upload-file-block">
        <div class="text-center">
          <div class="mb-2">
            <i class="fa fa-camera fa-2x"></i>
          </div>
          <div class="text-uppercase">
            Расмни узгартириш
          </div>
        </div>
      </label>
    </div>
    -->